#title {
  font-size: 32px;
  font-weight: bold;
  color: rgb(209, 166, 24);
}

.alimento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #363636;
  color: #fff;
  width: 690px;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.total {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  width: 690px;
}

.button {
  font-size: 11px;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #363636;
  padding: 10px 24px;
  font-weight: bold;
  margin-left: 50px;
}

#btn-comunes {
  font-size: 11px;
}

#agregar-manual {
  font-size: 11px;
}
